<h1>Tasks</h1>

<!-- <form method="get">
    <input type="text" name="search-area">
    <input type="submit" value="Search">
</form> -->

<form action="{% url 'search_posts' %}" class="form-inline" method="post">
    {% csrf_token %}
    <div class="md-form my-0">
      <input type="search" name="searched" class="form-control me-2"
          placeholder="Search posts" aria-label="Search">
          <button class="btn btn-outline-info btn-md" type="submit"><i class="fas fa-search" style="color: antiquewhite;"></i></button>
    </div>
  </form>


<h2>{{ request.user }}</h2>
{% for task in tasks %}
<a href="{% url 'detail' task.slug %}">{{ task }}</a>
{% endfor %}